#gl-canvas{
  /*width: 90vw;
  height: 90vh;*/
  position = fixed;
  width = 100%;
  z-index: 1;
}
body{
  overflow: hidden;
  box-sizing: border-box;
}
#toolbar{
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100vw;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #191f2e, #233c7a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #191f2e, #233c7a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #191f2e, #233c7a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right,#191f2e, #233c7a); /* Standard syntax */
}
#toolbar>button{
  width: 19.5vw;
  display: inline;
}
#gl-3d-canvas{
  position: fixed;
  top:0;
  left:0;
  z-index: 0;
}
#colorSelector {
  background-color: red;
	position: relative;
  display: inline;
	width: 36px;
	height: 36px;
	/*background: url(images/select.png);*/
  display: inline;
}
/*#colorSelector div {
	position: absolute;
	top: -13px;
	left: -13px;
	width: 30px;
	height: 30px;
	background: url(images/select.png) center;
  display: inline;
}*/
#colorpicker{
  height: 34px;
}
#info{
  display: fixed;
  z-index: 1;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}
h2{
  font-size: 1.6em;
}
